<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<style>
.github{
width: 25px;
height: 25px;
margin-left:10px;
}
</style>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>biKers_Store</strong> feito por:  <a href="https://github.com/cardoso24"></a>cardoso24</a><img class="github" src="images/logotipo-de-github.png" alt="">.
      </p>
    </div>
  </footer>