<!DOCTYPE html>
<html>

<head>
  <title>BIKERS | SHOP</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="images/logo2.png">
</head>
<html>

<body>
  <%- include partials/header.ejs %>

    <div class="banner-area">
      <div class="banner">
        <img src="images/bikeblack1.jpg" alt="">

        <div class="etiqueta dscrp">FutureBike SystemDown Model 50PX</div>
        <div class="etiqueta vermais"><a href="#"> VER MAIS</a></div>
      </div>
      |
    </div>
     <div class="container">
      
      <div class="flex"><img src="images/bikeblack2.jpg" alt="">
        <h1>Bicicleta FireSpeedAce</h1>
        <article> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nulla, rem eius saepe nobis
          similique eaque error non earum laboriosam provident architecto quis, deleniti vero ut optio libero illo?
          <p>Mais detalhes ></p>
        </article>
       <div class="price"> $1805</div>
       <div class="button">COMPRAR</div>

        

      </div>
      <div class="flex"><img src="images/leecosuper.jpg" alt=""> 
        <h1>Bicicleta ElectricSun</h1>
        <article> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nulla, rem eius saepe nobis
        similique eaque error non earum laboriosam provident architecto quis, deleniti vero ut optio libero illo?
       <p>Mais detalhes ></p>
      </article> 
      <div class="price"> $1805</div>
      
       <div class="button">COMPRAR</div>
      </div>
      
      <div class="flex"><img src="images/bikermadera.jpg" alt=""> 
        <h1>Bicicleta NoeWood</h1>
        <article> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quo nulla, rem eius saepe nobis
        similique eaque error non earum laboriosam provident architecto quis, deleniti vero ut optio libero illo?
        <p>Mais detalhes ></p>
      </article>
      <div class="price"> $1805</div>
      <div class="button">COMPRAR</div></div>

    </div>


    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>biKers_Store</strong> feito por: <a href="https://github.com/cardoso24"></a>cardoso24</a><img
            class="github" src="images/logotipo-de-github.png" alt="">.
        </p>
      </div>
    </footer>
</body>

</html>